In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('test.db')
cursor = conn.cursor()

In [3]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS test (
        id INTEGER,
        name TEXT
    )
''')

cursor.execute('''
    INSERT INTO test
    VALUES (1, "Alice")
''')

conn.commit() # Все изменения нужно сохранить

In [4]:
cursor.execute('''
    SELECT * FROM test
''')

for row in cursor.fetchall():
    print(row)

(1, 'Alice')

In [5]:
conn.close()