In [6]:
import sqlite3

In [7]:
conn = sqlite3.connect('test.db')
cursor = conn.cursor()

In [12]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS test (
        id INTEGER,
        name TEXT
    )
'''); # Псс... точка с запятой после команды подавляет вывод возвращаемого функцией значения

ProgrammingError: Cannot operate on a closed database.

In [9]:
cursor.execute('''
    INSERT INTO test
    VALUES (1, "Alice")
''');

In [10]:
cursor.execute('''
    SELECT * FROM test
''')

for row in cursor.fetchall():
    print(row)

(1, 'Alice')

In [11]:
conn.commit()
conn.close()